{% extends "docs.njk.html" %}

{% block content %}
<!-- BUTTON -->
<h1 class="text-brand">Button</h1>

<p>A simple element with multiple ways to customize through CSS classes.</p>

<div>
    <button class="btn">btn</button>
    <button class="btn dark">btn dark</button>
    <button class="btn brand">btn brand</button>
    <button class="btn primary">btn primary</button>
    <button class="btn secondary">btn secondary</button><br>
    <button class="btn info">btn info</button>
    <button class="btn success">btn success</button>
    <button class="btn warning">btn warning</button>
    <button class="btn danger">btn danger</button>
</div>

<br>

<p>Usually a framework includes 5 colors for the button element. These colors are <code>primary</code>, 
<code>info</code>, <code>success</code>, <code>warning</code> and <code>danger</code>. Sometimes 
they also include a dark, a default and even a secondary. SocialiteUI comes with those and also a 
<code>brand</code> color.</p>

<p>You just need to add one of these classes to a <code>button</code> html tag, with the <code>btn</code>
class:</p>
<pre class="prettyprint lang-html">
<button class="btn">btn</button>
<button class="btn dark">btn dark</button>
<button class="btn brand">btn brand</button>
<button class="btn primary">btn primary</button>
<button class="btn secondary">btn secondary</button>
<button class="btn info">btn info</button>
<button class="btn success">btn success</button>
<button class="btn warning">btn warning</button>
<button class="btn danger">btn danger</button>
</pre>

<br>

<p>By default, a <code>btn</code> element has no border radius. If you want you can 
use the <code>radius</code> class helper to add a little border radius to it and get 
this result:</p>

<div>
    <button class="btn radius">btn</button>
    <button class="btn radius dark">btn dark</button>
    <button class="btn radius brand">btn brand</button>
    <button class="btn radius primary">btn primary</button>
    <button class="btn radius secondary">btn secondary</button><br>
    <button class="btn radius info">btn info</button>
    <button class="btn radius success">btn success</button>
    <button class="btn radius warning">btn warning</button>
    <button class="btn radius danger">btn danger</button>
</div>
<pre class="prettyprint lang-html">
<button class="btn radius">btn</button>
<button class="btn radius dark">btn dark</button>
<button class="btn radius brand">btn brand</button>
<button class="btn radius primary">btn primary</button>
<button class="btn radius secondary">btn secondary</button>
<button class="btn radius info">btn info</button>
<button class="btn radius success">btn success</button>
<button class="btn radius warning">btn warning</button>
<button class="btn radius danger">btn danger</button>
</pre>

<br>

<p>Instead, if you want a rounded button, use the <code>rounded</code> helper.</p>
<div>
    <button class="btn rounded">btn</button>
    <button class="btn rounded dark">btn dark</button>
    <button class="btn rounded brand">btn brand</button>
    <button class="btn rounded primary">btn primary</button>
    <button class="btn rounded secondary">btn secondary</button><br>
    <button class="btn rounded info">btn info</button>
    <button class="btn rounded success">btn success</button>
    <button class="btn rounded warning">btn warning</button>
    <button class="btn rounded danger">btn danger</button>
</div>
<pre class="prettyprint lang-html">
<button class="btn rounded">btn</button>
<button class="btn rounded dark">btn dark</button>
<button class="btn rounded brand">btn brand</button>
<button class="btn rounded primary">btn primary</button>
<button class="btn rounded secondary">btn secondary</button>
<button class="btn rounded info">btn info</button>
<button class="btn rounded success">btn success</button>
<button class="btn rounded warning">btn warning</button>
<button class="btn rounded danger">btn danger</button>
</pre>

<br>

<p>The <code>box-shadow-*</code> helper may be implemented too:</p>
<div>
    <button class="btn box-shadow-3 radius">btn</button>
    <button class="btn box-shadow-3 radius dark">btn dark</button>
    <button class="btn box-shadow-3 radius brand">btn brand</button>
    <button class="btn box-shadow-3 radius primary">btn primary</button>
    <button class="btn box-shadow-3 radius secondary">btn secondary</button><br>
    <button class="btn box-shadow-3 radius info">btn info</button>
    <button class="btn box-shadow-3 radius success">btn success</button>
    <button class="btn box-shadow-3 radius warning">btn warning</button>
    <button class="btn box-shadow-3 radius danger">btn danger</button>
</div>
<pre class="prettyprint lang-html">
<button class="btn box-shadow-3 radius">btn</button>
<button class="btn box-shadow-3 radius dark">btn dark</button>
<button class="btn box-shadow-3 radius brand">btn brand</button>
<button class="btn box-shadow-3 radius primary">btn primary</button>
<button class="btn box-shadow-3 radius secondary">btn secondary</button>
<button class="btn box-shadow-3 radius info">btn info</button>
<button class="btn box-shadow-3 radius success">btn success</button>
<button class="btn box-shadow-3 radius warning">btn warning</button>
<button class="btn box-shadow-3 radius danger">btn danger</button>
</pre>

<br>

<p>Another nice variant is the inverted button. Add the <code>inverted</code> 
class to get the follow result:</p>
<div>
    <button class="btn inverted radius">btn</button>
    <button class="btn inverted radius dark">btn dark</button>
    <button class="btn inverted radius brand">btn brand</button>
    <button class="btn inverted radius primary">btn primary</button>
    <button class="btn inverted radius secondary">btn secondary</button><br>
    <button class="btn inverted radius info">btn info</button>
    <button class="btn inverted radius success">btn success</button>
    <button class="btn inverted radius warning">btn warning</button>
    <button class="btn inverted radius danger">btn danger</button>
</div>
<pre class="prettyprint lang-html">
<button class="btn inverted radius">btn</button>
<button class="btn inverted radius dark">btn dark</button>
<button class="btn inverted radius brand">btn brand</button>
<button class="btn inverted radius primary">btn primary</button>
<button class="btn inverted radius secondary">btn secondary</button>
<button class="btn inverted radius info">btn info</button>
<button class="btn inverted radius success">btn success</button>
<button class="btn inverted radius warning">btn warning</button>
<button class="btn inverted radius danger">btn danger</button>
</pre>

<br>

<p>Finally a disabled button would look like this:</p>
<div>
    <button disabled="true" class="btn">btn disabled</button>
    <button disabled="true" class="btn radius">btn disabled</button>
    <button disabled="true" class="btn radius box-shadow-3">btn disabled</button>
    <button disabled="true" class="btn rounded">btn disabled</button>
    <button disabled="true" class="btn inverted radius">btn disabled</button>
</div>
<pre class="prettyprint lang-html">
<button disabled="true" class="btn">btn disabled</button>
<button disabled="true" class="btn radius">btn disabled</button>
<button disabled="true" class="btn radius box-shadow-3">btn disabled</button>
<button disabled="true" class="btn rounded">btn disabled</button>
<button disabled="true" class="btn inverted radius">btn disabled</button>
</pre>

{% endblock %}