/*
    SocialiteUI v0.4.2
    Color reference:
        salmon: #ff7675
        lightblue: #74b9ff
        blue: #0984e3
        lightgreen: #55efc4
        green: #00b894
        lightred: #ff6b6b
        red: #ee5253
        lightpurple: #a29bfe
        purple: #6c5ce7
        lightyellow: #ffeaa7
        yellow: #fdcb6e
        darkgray: #2d3436
*/
*{
    font-size: 1rem;
    color: #2d3436;
    font-weight: 300;
    box-sizing:border-box;
    line-height: 1.3;
    scrollbar-width: thin;
    scrollbar-color: lightgray #fafafa;
}
small{
    font-size: 0.8rem;
}
h1, h1 *{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
h2, h2 *{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}
h3, h3 *{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
h4, h4 *{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.45rem;
}
h5, h5 *{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.30rem;
}
h6, h6 *{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
}

img{
    vertical-align: middle;
}

.feed{
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.container{
    max-width: 1128px;
    margin: 0 auto;
    padding: 15px;
    display: block;
}
.container-fluid{
    max-width: 1128px;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.below-navbar{
    padding-top: 65px;
}
.header-below-navbar{
    padding-top: 75px;
}

body{
    font-family: sans-serif;
    margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #fafafa; 
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: lightgray;
}
::-webkit-scrollbar-thumb:hover {
    background: lightgray; 
}

/* NAVBAR */
.navbar{
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 0 1rem;
    width: 100%;
    background-color: white;
    z-index: 100;
    /* box-shadow: 0px 0px 1px rgba(200, 200, 200, 0.5); */
}
.navbar-content{
    /* width: 100%;*/
    flex: 1;
    display: flex;
}
.navbar.fixed{
    position: fixed;
    top: 0;
}
.navbar-end{
    margin-left: auto;
}

.menu-toggle{
    display: none;
}
.burguer-btn{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.5em;
    width: 29px;
    height: 29px;
}
.burguer-btn>.burguer-icon, 
.burguer-btn>.burguer-icon:after, 
.burguer-btn>.burguer-icon:before{
    background-color: #2d3436;
    border-radius: 5px;
    content: '';
    display: block;
    height: 2px;
    margin: 10px 0;
    transition: all .2s ease-in-out;
}
.burguer-icon{
    position: absolute;
    top: -8px;
    width: 100%;
}
.burguer-btn{
    display: none;
}

@media (max-width: 991px){
    .navbar-content{
        width: 100%;
        /* height: 100%; */
        display: block;
        position: fixed;
        background: white;
        top: 64px;
        margin: 0;
        transition: all ease .2s;
        /* left: 0; */
        left: -100%;
        opacity: 0;
        border-bottom: 1px solid #eaeaea;
        box-shadow: 0px 3px 3px rgba(200, 200, 200, 0.4);
    }
    .navbar-content>.navbar-end{
        width: 100%;
        display: block;
    }
    .navbar-content>*, .navbar-end>*{
        width: 100%;
        display: block;
        margin-left: 0;
    }
    .burguer-btn{
        display: block;
    }

    .menu-toggle:checked ~ .navbar-content{
        left: 0;
        opacity: 1;
    }

    .menu-toggle:checked ~ .burguer-btn > .burguer-icon:before {
        transform: rotate(-270deg) translateX(-10px);
        /* transform: rotate(90deg) translateX(-10px); */
    }
    
    .menu-toggle:checked ~ .burguer-btn > .burguer-icon:after {
        transform: scale(0);
    }
    
    .menu-toggle:checked ~ .burguer-btn > .burguer-icon {
        transform: translateY(10px) rotate(135deg);
        /* transform: translateY(10px) rotate(45deg); */
    }

    .navbar{
        padding: 0 0.5rem;
    }
}

/* BUTTONS/LINKS */
.link, .btn{
    border: 0px;
    outline: 0;
    text-decoration: none;
    padding: 0.75em 0.9em;
    display: inline-block;
    position: relative;
    transition: all .1s ease-in-out;
    background-color: transparent;
}
.link, .link *, .btn, .btn *{
    font-size: 1rem;
}
.btn{
    margin: 0.3rem;
}
.link:active, .btn:active {
    border: none;
    outline: 0;
}
.link:focus, .btn:focus {
    border: none;
    outline: 0;
}
.link:target, .btn:target {
    border: none;
    outline: 0;
}
.link:hover, .btn:hover{
    background: rgba(200, 200, 200, 0.2);
    opacity: 0.9;
    cursor: pointer;
}

.link.salmon, .btn.salmon{
    background-color: #ff7675;
    color: white;
}
.link.lightblue, .btn.lightblue{
    background-color: #74b9ff;
    color: white;
}
.link.blue, .btn.blue{
    background-color: #0984e3;
    color: white;
}

.circular-img{
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eaeaea;
    width: 45px;
    height: 45px;
}

/* USER ACTIONS */
.user-actions{
    padding: 0.1rem 0.5rem;
    display: flex;
    align-items: center;
}
.user-actions > :not(.left):not(.right)   {
    margin: 0.5rem;
    cursor: pointer;
}
.user-actions.end{
    justify-content: flex-end;
}
.user-actions.center{
    justify-content: center;
}
.user-actions.evenly{
    justify-content: space-evenly;
}
.user-actions.equal{
    justify-content: space-around;
}
.user-actions > .left{
    margin-right: auto;
}
.user-actions > .left > *{
    margin: 0.5rem;
}
.user-actions > .right{
    margin-left: auto;
}
.user-actions > .right > *{
    margin: 0.5rem;
}

/* CARDS */
.card{
    border: 1px solid #eaeaea;
    width: 100%;
    max-width: 600px;
    background-color: white;
    /* box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.5); */
    box-shadow: 0px 1px 6px rgba(200, 200, 200, 0.5);
    margin: 0 auto 1rem auto;
}
.card>img{
    width: 100%;
}
.card-header{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding: 0.8rem;
    align-items: center;
    margin: 0;
}

.card-data > p{
    margin-top: 0.1rem; margin-bottom: 0.2rem;
}
.card-data > p, .card-data > p *{
    font-weight: 400;
    font-size: 0.9rem;
}
.card-data > small{
    margin: 0;
    display: block;
}
.card-data > small, .card-data > small *{
    color: gray;
}
.card-data{
    padding: 0 0.5rem;
    flex: 1;
}

.card-content{
    padding: 0.4rem 0.8rem 0.8rem 0.8rem;
    margin: 0;
}
.card-content.relevant, .card-content.relevant *{
    font-size: 1.2rem;
}

/* COMMENTS */
.comment{
    display: flex;
    padding: 0.5rem 0.8rem;
    align-items: right;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin: 0;
}
.comment-data > p{
    margin-top: 0.1rem; margin-bottom: 0;
}
.comment-data > p, .comment-data > p *{
    font-weight: 400;
    font-size: 0.9rem;
}

.comment-data small, .comment-data small *{
    color: gray;
}
.comment-data > span{
    margin-top: 0.4rem;
    display: block;
}
.comment-data > span, .comment-data > span *{
    font-size: 0.9rem;
}
.comment-data{
    padding: 0 0.5rem;
    flex: 1;
}

/* STAGGERED GRID VIEW */
.staggered{
    width: 100%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    flex-flow: row wrap;
}
.staggered > .staggered-item > * {
    display: block;
}
.staggered > .staggered-item {
    width: 25%;
    padding: 0.5%;
}
.staggered.three > .staggered-item {
    width: calc(100%/3);
    padding: 0.5%;
}
.staggered.two > .staggered-item {
    width: 50%;
    padding: 0.5%;
}
/* tablets */
@media (max-width: 991px) {
    .staggered.tablet-three > .staggered-item {
        width: calc(100%/3);
        padding: 0.5%;
    }
    .staggered.tablet-two > .staggered-item {
        width: 50%;
        padding: 0.5%;
    }
}
/* moibile */
@media (max-width: 767px){
    .staggered > .staggered-item, .staggered.three > .staggered-item,
    .staggered.tablet-two > .staggered-item, 
    .staggered.tablet-three > .staggered-item,
    .staggered.two > .staggered-item {
        width: 100%;
        padding: 0%;
    }
    .staggered.mobile-three > .staggered-item {
        width: calc(100%/3);
        padding: 0.5%;
    }
    .staggered.mobile-two > .staggered-item {
        width: 50%;
        padding: 0.5%;
    }
}

/* COLUMNS */
.cols{
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    flex-flow: row wrap;
}
.cols>.col, .cols>*[class*='col-']{
    padding: 1%;
}
.cols>.col{flex: 1;}
.cols>.col-1{
    width: calc(100%/12);
}
.cols>.col-2{
    width: calc(calc(100%/12) * 2);
}
.cols>.col-3{
    width: 25%;
}
.cols>.col-4{
    width: calc(calc(100%/12) * 4);
}
.cols>.col-5{
    width: calc(calc(100%/12) * 5);
}
.cols>.col-6{
    width: 50%;
}
.cols>.col-7{
    width: calc(calc(100%/12) * 7);
}
.cols>.col-8{
    width: calc(calc(100%/12) * 8);
}
.cols>.col-9{
    width: 75%;
}
.cols>.col-10{
    width: calc(calc(100%/12) * 10);
}
.cols>.col-11{
    width: calc(calc(100%/12) * 11);
}
.cols>.col-12{
    width: 100%;
}

/* large screen */
@media (min-width: 1200px){
    .cols>.col-l-1{
        width: calc(100%/12);
    }
    .cols>.col-l-2{
        width: calc(calc(100%/12) * 2);
    }
    .cols>.col-l-3{
        width: 25%;
    }
    .cols>.col-l-4{
        width: calc(calc(100%/12) * 4);
    }
    .cols>.col-l-5{
        width: calc(calc(100%/12) * 5);
    }
    .cols>.col-l-6{
        width: 50%;
    }
    .cols>.col-l-7{
        width: calc(calc(100%/12) * 7);
    }
    .cols>.col-l-8{
        width: calc(calc(100%/12) * 8);
    }
    .cols>.col-l-9{
        width: 75%;
    }
    .cols>.col-l-10{
        width: calc(calc(100%/12) * 10);
    }
    .cols>.col-l-11{
        width: calc(calc(100%/12) * 11);
    }
    .cols>.col-l-12{
        width: 100%;
    }
}

/* tablet */
@media (max-width: 991px) {
    /* .cols>.col, .cols>*[class*='col-']{
        flex: none;
        width: 100%; 
    } */

    .cols>.col-t-1{
        width: calc(100%/12);
    }
    .cols>.col-t-2{
        width: calc(calc(100%/12) * 2);
    }
    .cols>.col-t-3{
        width: 25%;
    }
    .cols>.col-t-4{
        width: calc(calc(100%/12) * 4);
    }
    .cols>.col-t-5{
        width: calc(calc(100%/12) * 5);
    }
    .cols>.col-t-6{
        width: 50%;
    }
    .cols>.col-t-7{
        width: calc(calc(100%/12) * 7);
    }
    .cols>.col-t-8{
        width: calc(calc(100%/12) * 8);
    }
    .cols>.col-t-9{
        width: 75%;
    }
    .cols>.col-t-10{
        width: calc(calc(100%/12) * 10);
    }
    .cols>.col-t-11{
        width: calc(calc(100%/12) * 11);
    }
    .cols>.col-t-12{
        width: 100%;
    }
}
/* moibile */
@media (max-width: 767px){
    .cols>.col, .cols>*[class*='col-'],
    .cols>*[class*='col-t']{
        flex: none;
        width: 100%; 
    }

    .cols>.col-m-1{
        width: calc(100%/12);
    }
    .cols>.col-m-2{
        width: calc(calc(100%/12) * 2);
    }
    .cols>.col-m-3{
        width: 25%;
    }
    .cols>.col-m-4{
        width: calc(calc(100%/12) * 4);
    }
    .cols>.col-m-5{
        width: calc(calc(100%/12) * 5);
    }
    .cols>.col-m-6{
        width: 50%;
    }
    .cols>.col-m-7{
        width: calc(calc(100%/12) * 7);
    }
    .cols>.col-m-8{
        width: calc(calc(100%/12) * 8);
    }
    .cols>.col-m-9{
        width: 75%;
    }
    .cols>.col-m-10{
        width: calc(calc(100%/12) * 10);
    }
    .cols>.col-m-11{
        width: calc(calc(100%/12) * 11);
    }
    .cols>.col-m-12{
        width: 100%;
    }
}

/* SIDE-MENU */
.side-menu{
    background-color: white;
    z-index: 1;
    width: 20%;
    height: 100%;
    position: fixed;
    border-right: 1px solid #eaeaea;
}
.side-menu>*{
    display: block;
}
.side-menu-content{
    padding-left: 20%;
}
/* tablets */
@media (max-width: 991px) {
    .side-menu{
        width: 100%;
        position: relative;
        text-align: center;
        border-right: none;
        border-bottom: 1px #eaeaea solid;
        display: flex;
        overflow-y: auto;
        height: 60px;
        align-items: center;
    }
    .side-menu-content{
        padding-left: 0;
    }
    .side-menu>*{
        flex-shrink: 0;
        margin: auto;
    }
}

/* CONTENT */
.content {
    padding-top: 0;
    list-style: none; /* Remove default bullets */
}
.content li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    color: #ff7675;
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.content.lightblue li::before {
    color: #74b9ff;
}
.content .link{
    padding: 0.3em;
}
.content .link, .content .link *{
    font-size: 0.9rem;
}
.content .link:hover{
    background: none;
    color: #ff7675;
}

/* HELPERS*/
.text-salmon, .text-salmon *{
    color: #ff7675;
}
.text-lightblue, .text-lightblue *{
    color: #74b9ff;
}
.text-blue, .text-blue *{
    color: #0984e3;
}
.text-yellow, .text-yellow *{
    color: #f9ca24;
}
.text-purple, .text-purple *{
    color: #6c5ce7;
}
.text-darkgray, .text-darkgray *{
    color: #2d3436;
}
.text-white, .text-white *{
    color: #ffffff;
}

.text-bold, .text-bold *{
    font-weight: bold;
}
.text-italic, .text-italic *{
    font-style: italic;
}

.text-center, .text-center *{
    text-align: center;
}
.text-right, .text-right *{
    text-align: right;
}
.text-left, .text-left *{
    text-align: left;
}

.text-size-xs, .text-size-xs *{
    font-size: 0.8rem;
}
.text-size-s, .text-size-s *{
    font-size: 0.9rem;
}
.text-size-1, .text-size-1 *{
    font-size: 2rem;
}
.text-size-2, .text-size-2 *{
    font-size: 1.75rem;
}
.text-size-3, .text-size-3 *{
    font-size: 1.6rem;
}
.text-size-4, .text-size-4 *{
    font-size: 1.45rem;
}
.text-size-5, .text-size-5 *{
    font-size: 1.30rem;
}
.text-size-6, .text-size-6 *{
    font-size: 1.15rem;
}

.hidden{
    display: none;
}

.full-width{
    width: 100%;
}

.site-section{
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fafafa;
}
.site-section.purple{
    background-color: #6c5ce7;
}
.site-section.purple *{
    color: white;
}
.site-section.salmon{
    background-color: #ff7675;
}
.site-section.salmon *{
    color: white;
}