/* $contrast-brand: white;
$contrast-primary: white;
$contrast-secondary: white;
$contrast-info: white;
$contrast-success: white;
$contrast-danger: white;
$contrast-warning: white; */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-family: 'Montserrat';
$font-weight: 300;

@import 'base.scss';