.feed{
    max-width: 600px;
    /* max-width: 1128px; */
    margin: 0 auto;
}

body{
    font-family: sans-serif;
}
* {
    font-weight: normal;
    color: #212121;
    font-weight: 300;
}

.user-img{
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
}

/* SOCIAL ACTIONS */
.social-actions{
    padding: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
}
.social-actions.end{
    justify-content: flex-end;
}
.social-actions.center{
    justify-content: center;
}
.social-actions.evenly{
    justify-content: space-evenly;
}
.social-actions.equal{
    justify-content: space-around;
}
.social-actions > .left{
    margin-right: auto;
}
.social-actions > .right{
    margin-left: auto;
}

/* POSTS */
.post{
    border: 1px solid #e0e0e0;
    width: 100%;
    box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.5);
    margin-bottom: 3rem;
}
.post>img{
    width: 100%;
    margin-bottom: 0.1rem;
}
.post-header{
    display: flex;
    padding: 0.8rem;
    align-items: center;
    margin: 0;
}

.post-data > p{
    font-weight: 400;
    margin-top: 0.1rem; margin-bottom: 0.2rem;
    font-size: 0.9rem;
}
.post-data > small{
    margin: 0;
    display: block;
    font-size: 0.8rem;
}
.post-data{
    padding: 0 0.5rem;
    flex: 1;
}

.post-content {
    font-size: 0.9rem;
    padding: 0.1rem 0.8rem 0.8rem 0.8rem;
    margin: 0;
}
.post-content.relevant {
    font-size: 1.2rem;
}
.post > .social-actions{
    padding-top: 0;
}
.post-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    font-size: 1.5rem;
    border-radius: 10%;
}
.post-btn:active{
    color: #212121;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -ms-transition: all .3s ease; /* IE 9 */
    -o-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    background-color: #fafafa;
}

/* COMMENTS */
.comment{
    display: flex;
    padding: 0.5rem 0.8rem;
    align-items: right;
    margin: 0;
}
.comment-data > p{
    font-weight: 400;
    margin-top: 0.1rem; margin-bottom: 0;
    font-size: 0.9rem;
}
.comment-data small{
    font-size: 0.8rem;
    color: gray;
}
.post > .comment > .user-img{
    width: 27px; height: 27px;
}
.comment-data > span{
    margin-top: 0.4rem;
    display: block;
    font-size: 0.9rem;
}
.comment-data{
    padding: 0 0.5rem;
    flex: 1;
}
.post > .comment{
    margin-left: 1rem;
    border-left: 1px solid lightgray;
}
.post > .comment:last-child{
    margin-bottom: 0.5rem;
}

/* STAGGERED */
.staggered{
    width: 100%;
   /*  max-width: 1000px; */
    margin: 0 auto;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    flex-flow: row wrap;
}
.staggered > .staggered-item > * {
    display: block;
}
.staggered > .staggered-item {
    width: calc(calc(100%/4) - 1%);
    padding: 0.5%;
}
.staggered.three > .staggered-item {
    width: calc(calc(100%/3) - 1%);
    padding: 0.5%;
}
.staggered.two > .staggered-item {
    width: calc(calc(100%/2) - 1%);
    padding: 0.5%;
}
/* tablets */
@media (max-width: 991px) {
    .staggered.tablet-three > .staggered-item {
        width: calc(calc(100%/3) - 1%);
        padding: 0.5%;
    }
    .staggered.tablet-two > .staggered-item {
        width: calc(calc(100%/2) - 1%);
        padding: 0.5%;
    }
}
/* moibile */
@media only screen and (max-width: 767px){
    .staggered > .staggered-item, .staggered.three > .staggered-item,
    .staggered.tablet-two > .staggered-item, 
    .staggered.tablet-three > .staggered-item,
    .staggered.two > .staggered-item {
        width: 100%;
        padding: 0%;
    }
    .staggered.mobile-three > .staggered-item {
        width: calc(calc(100%/3) - 1%);
        padding: 0.5%;
    }
    .staggered.mobile-two > .staggered-item {
        width: calc(calc(100%/2) - 1%);
        padding: 0.5%;
    }
}

/* COLUMNS */
.flex-row-multicolum{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    flex-flow: row wrap;
}
.flex-row-multicolum .flex-col{ width: 50%; /*flex: 1;*/ }

