<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% if description %}{{ description }}{% else %}Lightweight HTML, CSS and JS framework for WEB design. SocialiteUI is 100% responsive and mobile-first designed.{% endif %}">
    <title>{% if title %}{{ title }}{% else %}SocialiteUI{% endif %} • A responsive & lightweight HTML, CSS & JS framework</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="prettifier.css">
    
</head>
<body>

    <button class="btn">Default</button>
    <button class="btn dark">Dark</button>
    <button class="btn brand">Brand</button>
    <button class="btn blue">Blue</button>
    <button class="btn lightblue">Lightblue</button>
    <button class="btn green">Green</button>
    <button class="btn lightgreen">Lightgreen</button>
    <button class="btn yellow">Yellow</button>
    <button class="btn red">Red</button>
    <button class="btn violet">Violet</button>
    <button class="btn lightviolet">Lightviolet</button>
    <button class="btn purple">Purple</button>
    <br>

    <button class="btn radius">Default</button>
    <button class="btn radius dark">Dark</button>
    <button class="btn radius brand">Brand</button>
    <button class="btn radius blue">Blue</button>
    <button class="btn radius lightblue">Lightblue</button>
    <button class="btn radius green">Green</button>
    <button class="btn radius lightgreen">Lightgreen</button>
    <button class="btn radius yellow">Yellow</button>
    <button class="btn radius red">Red</button>
    <button class="btn radius violet">Violet</button>
    <button class="btn radius lightviolet">Lightviolet</button>
    <button class="btn radius purple">Purple</button>
    <br>

    <button class="btn radius shadow">Default</button>
    <button class="btn radius shadow dark">Dark</button>
    <button class="btn radius shadow brand">Brand</button>
    <button class="btn radius shadow blue">Blue</button>
    <button class="btn radius shadow lightblue">Lightblue</button>
    <button class="btn radius shadow green">Green</button>
    <button class="btn radius shadow lightgreen">Lightgreen</button>
    <button class="btn radius shadow yellow">Yellow</button>
    <button class="btn radius shadow red">Red</button>
    <button class="btn radius shadow violet">Violet</button>
    <button class="btn radius shadow lightviolet">Lightviolet</button>
    <button class="btn radius shadow purple">Purple</button>
    <br>

    <button class="btn inverted rounded">Default</button>
    <button class="btn inverted rounded dark">Dark</button>
    <button class="btn inverted rounded brand">Brand</button>
    <button class="btn inverted rounded blue">Blue</button>
    <button class="btn inverted rounded lightblue">Lightblue</button>
    <button class="btn inverted rounded green">Green</button>
    <button class="btn inverted rounded lightgreen">Lightgreen</button>
    <button class="btn inverted rounded yellow">Yellow</button>
    <button class="btn inverted rounded red">Red</button>
    <button class="btn inverted rounded violet">Violet</button>
    <button class="btn inverted rounded lightviolet">Lightviolet</button>
    <button class="btn inverted rounded purple">Purple</button>
    <br>

    <script>
        document.querySelectorAll("pre.prettyprint").forEach(function(element) {
            element.innerHTML = element.innerHTML.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

</body>
</html>
