<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% if description %}{{ description }}{% else %}Lightweight HTML, CSS and JS framework for WEB design. SocialiteUI is 100% responsive and mobile-first designed.{% endif %}">
    <title>{% if title %}{{ title }}{% else %}SocialiteUI{% endif %} • A responsive & lightweight HTML, CSS & JS framework</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="prettifier.css">
    
</head>
<body>

    <button class="btn">Default</button>
    <button class="btn dark">Dark</button>
    <button class="btn brand">Brand</button>
    <button class="btn primary">Primary</button>
    <button class="btn secondary">Secondary</button>
    <button class="btn info">Info</button>
    <button class="btn success">Success</button>
    <button class="btn warning">Warning</button>
    <button class="btn danger">Danger</button>
    <br>

    <button class="btn radius">Default</button>
    <button class="btn radius dark">Dark</button>
    <button class="btn radius brand">Brand</button>
    <button class="btn radius primary">Primary</button>
    <button class="btn radius secondary">Secondary</button>
    <button class="btn radius info">Info</button>
    <button class="btn radius success">Success</button>
    <button class="btn radius warning">Warning</button>
    <button class="btn radius danger">Danger</button>
    <br>

    <button class="btn radius shadow">Default</button>
    <button class="btn radius shadow dark">Dark</button>
    <button class="btn radius shadow brand">Brand</button>
    <button class="btn radius shadow primary">Primary</button>
    <button class="btn radius shadow secondary">Secondary</button>
    <button class="btn radius shadow info">Info</button>
    <button class="btn radius shadow success">Success</button>
    <button class="btn radius shadow warning">Warning</button>
    <button class="btn radius shadow danger">Danger</button>
    <br>

    <button class="btn inverted rounded">Default</button>
    <button class="btn inverted rounded dark">Dark</button>
    <button class="btn inverted rounded brand">Brand</button>
    <button class="btn inverted rounded primary">Primary</button>
    <button class="btn inverted rounded secondary">Secondary</button>
    <button class="btn inverted rounded info">Info</button>
    <button class="btn inverted rounded success">Success</button>
    <button class="btn inverted rounded warning">Warning</button>
    <button class="btn inverted rounded danger">Danger</button>
    <br>

    <script>
        document.querySelectorAll("pre.prettyprint").forEach(function(element) {
            element.innerHTML = element.innerHTML.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

</body>
</html>
