{% extends "docs.njk.html" %}

{% block content %}
<!-- CARD -->
<h1 id="card" class="text-brand">Card</h1>

<p>A flexible UI component for displaying visual and text content.</p>

<div class="grid">
    <div class="col-6">
        <div class="card box-shadow-2">
    
            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <p class="card-content text-size-6">This card has the header at the top!</p>
            
            <div class="user-actions evenly">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <i style="font-size: 1.5rem;" class="far fa-flag"></i>
            </div>
    
        </div>
    </div>
    <div class="col-6">
        <div class="card box-shadow-2">
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>

            <p class="card-content text-size-6">And this one has it below img</p>
            
            <div class="user-actions">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <span class="right">
                    <i style="font-size: 1.5rem;" class="far fa-flag"></i>
                </span>
            </div>
    
        </div>
    </div>
</div>

<br>

<p>Add the <code>card</code> class to your element. The card is composed of: <code>card-header</code>, 
<code>card-content</code>, <code>user-actions</code> and an <code>img</code> element.</p>

<pre class="prettyprint lang-html">
<div class="card box-shadow-2">

    <!-- Card header data -->
    <div class="card-header">
        <span class="circular-img"
        style="background-image: url(https://picsum.photos/64/64)"></span>

        <div class="card-data">
            <p>Elizabeth</p>
            <small>5 min ago</small>
        </div>
    </div>

    <!--  Card image -->
    <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

    <!-- Card content, .text-size-6 for h6 font size -->
    <p class="card-content text-size-6">
        ...
    </p>
    
    <!-- Evenly distributed user actions -->
    <div class="user-actions evenly">
        <i style="font-size: 1.5rem;" class="far fa-heart"></i>
        <i style="font-size: 1.5rem;" class="far fa-comment"></i>
        <i style="font-size: 1.5rem;" class="far fa-flag"></i>
    </div>

</div>
</pre>

<br>

<p>The <code>img</code> element inside the card will be 100% width. In the example above, the 
<code>text-size-6</code> class is implemented for h6 font-size, just remove it if you want the normal 
1rem font-size. You may also change the order of this elements if you want:</p>

<div class="card box-shadow-2">
    <div class="card-header">
        <span class="circular-img"
        style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>

        <div class="card-data">
            <p>Elizabeth</p>
            <small>5 min ago</small>
        </div>
    </div>
    <p class="card-content">This card has a normal font-size, without the text-size-6 helper class.</p>
</div>
    
<pre class="prettyprint lang-html">
<div class="card box-shadow-2">
    <div class="card-header">
        <span class="circular-img"
        style="background-image: url(https://picsum.photos/64/64)"></span>

        <div class="card-data">
            <p>Elizabeth</p>
            <small>5 min ago</small>
        </div>
    </div>

    <p class="card-content text-size-6">
        ...
    </p>

    <!-- No img and no user-actions in this card -->

</div>
</pre>

<br>

<p>The card has 600px as max-width by default. Just add the <code>full-width</code> helper class in case 
you need a 100% width card:</p>

<div class="card box-shadow-2 full-width">
    <div class="card-header">
        <span class="circular-img"
        style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>

        <div class="card-data">
            <p>Elizabeth</p>
            <small>5 min ago</small>
        </div>
    </div>
    <p class="card-content">This card has the full-width class.</p>
</div>

<pre class="prettyprint lang-html">
<!-- Full width card -->
<div class="card box-shadow-2 full-width">
    ...
</div>
</pre>

<br>

<p>In these examples, the <code>box-shadow-*</code> helper class is implemented. Just remove it in case you 
don't want any shadow in you card component.</p>

<div class="grid">
    <div class="col-6">
        <div class="card">
    
            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <p class="card-content text-size-6">This card has no box shadow</p>
            
            <div class="user-actions evenly">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <i style="font-size: 1.5rem;" class="far fa-flag"></i>
            </div>
    
        </div>
    </div>
    <div class="col-6">
        <div class="card">
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>

            <p class="card-content text-size-6">And this one neither</p>
            
            <div class="user-actions">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <span class="right">
                    <i style="font-size: 1.5rem;" class="far fa-flag"></i>
                </span>
            </div>
    
        </div>
    </div>
</div>

<pre class="prettyprint lang-html">
<!-- No box shadow -->
<div class="card">
    ...
</div>
</pre>

<br>

<p>As you can see, you can implement multiple CSS helpers with the card component. Here 
is an example of the <code>rounded</code> class implemented in case you want rounded corners:</p>
<div class="grid">
    <div class="col-6">
        <div class="card rounded">
    
            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <p class="card-content text-size-6">This card has rounded corners</p>
            
            <div class="user-actions evenly">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <i style="font-size: 1.5rem;" class="far fa-flag"></i>
            </div>
    
        </div>
    </div>
    <div class="col-6">
        <div class="card rounded">
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>

            <p class="card-content text-size-6">This one too, and no shadow</p>
            
            <div class="user-actions">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <span class="right">
                    <i style="font-size: 1.5rem;" class="far fa-flag"></i>
                </span>
            </div>
    
        </div>
    </div>
</div>
<pre class="prettyprint lang-html">
<!-- Rounded corners helper -->
<div class="card rounded">
    ...
</div>
</pre>

<br>

<p>In case you only want a little border radius, use the <code>radius</code> class helper.</p>
<div class="grid">
    <div class="col-6">
        <div class="card radius">
    
            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <p class="card-content text-size-6">Card with little border radius</p>
            
            <div class="user-actions evenly">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <i style="font-size: 1.5rem;" class="far fa-flag"></i>
            </div>
    
        </div>
    </div>
    <div class="col-6">
        <div class="card radius">
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>

            <p class="card-content text-size-6">Card with little border radius</p>
            
            <div class="user-actions">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <span class="right">
                    <i style="font-size: 1.5rem;" class="far fa-flag"></i>
                </span>
            </div>
    
        </div>
    </div>
</div>
<pre class="prettyprint lang-html">
<!-- Adding a little border radius -->
<div class="card radius">
    ...
</div>
</pre>
{% endblock %}