{% extends "docs.njk.html" %}

{% block content %}
<!-- CARD -->
<h1 id="card" class="text-brand">Card</h1>
<div class="cols">
    <div class="col-6">
        <div class="card">
    
            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <p class="card-content text-size-6">This card has the header at the top!</p>
            
            <div class="user-actions evenly">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <i style="font-size: 1.5rem;" class="far fa-flag"></i>
            </div>
    
        </div>
    </div>
    <div class="col-6">
        <div class="card">
    
            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

            <div class="card-header">
                <span class="circular-img"
                style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>
    
                <div class="card-data">
                    <p>Elizabeth</p>
                    <small>5 min ago</small>
                </div>
            </div>

            <p class="card-content text-size-6">And this one has it below img</p>
            
            <div class="user-actions">
                <i style="font-size: 1.5rem;" class="far fa-heart"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment"></i>
                <span class="right">
                    <i style="font-size: 1.5rem;" class="far fa-flag"></i>
                </span>
            </div>
    
        </div>
    </div>
</div>

<br>

<p>Add the <code>card</code> class to your element. The card is composed of: <code>card-header</code>, 
<code>card-content</code>, <code>user-actions</code> and an <code>img</code> element.</p>

<pre class="prettyprint lang-html">
<div class="card">

    <!-- Card header data -->
    <div class="card-header">
        <span class="circular-img"
        style="background-image: url(https://picsum.photos/64/64)"></span>

        <div class="card-data">
            <p>Elizabeth</p>
            <small>5 min ago</small>
        </div>
    </div>

    <!--  Image inside .card will be responsive 100% width -->
    <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

    <!-- Card content, .text-size-6 for h6 font size -->
    <p class="card-content text-size-6">
        ...
    </p>
    
    <!-- Evenly distributed user actions -->
    <div class="user-actions evenly">
        <i style="font-size: 1.5rem;" class="far fa-heart"></i>
        <i style="font-size: 1.5rem;" class="far fa-comment"></i>
        <i style="font-size: 1.5rem;" class="far fa-flag"></i>
    </div>

</div>
</pre>

    <br>

    <p>You may change the order of this elements or remove them if you want:</p>

    <div class="card">
        <div class="card-header">
            <span class="circular-img"
            style="width: 40px; height: 40px; background-image: url(https://picsum.photos/64/64)"></span>

            <div class="card-data">
                <p>Elizabeth</p>
                <small>5 min ago</small>
            </div>
        </div>
        <p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus a quis veritatis.</p>
    </div>
    
<pre class="prettyprint lang-html">
<div class="card">
    <div class="card-header">
        <span class="circular-img"
        style="background-image: url(https://picsum.photos/64/64)"></span>

        <div class="card-data">
            <p>Elizabeth</p>
            <small>5 min ago</small>
        </div>
    </div>

    <p class="card-content text-size-6">
        ...
    </p>

    <!-- No img and no user-actions in this card -->

</div>
</pre>
{% endblock %}