{% extends "docs.njk.html" %}

{% block content %}
<!-- NAVBAR -->
<h5 id="navbar" class="header-below-navbar text-brand">Navbar</h5>
<div style="position: relative;">
    <nav class="navbar">

        <input class="menu-toggle" type="checkbox" id="menu-toggler" />
        <label class="burger-btn" for="menu-toggler">
            <span class="burger-icon"></span>
        </label>
        
        <a class="link" href="./index.html">SocialiteUI</a>
        
        <div class="navbar-content">
            
            <div class="navbar-end">
                <a class="link" href="./components.html"><i class="fa fa-code"></i> Documentation</a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/Isradeleon/socialiteui" class="link"><i class="fab fa-github"></i> View on Github</a>
            </div>
    
        </div>
    
        <div class="navbar-end">
            <a class="link text-brand" href="https://github.com/Isradeleon/socialiteui/archive/0.4.3.zip"><i style="font-size: 1.2rem;" class="fa fa-cloud-download-alt"></i> (0.4.3)</a>
        </div>
    
    </nav>
</div>

<br>

<p>This is a CSS only responsive navbar. Just add the <code>navbar</code> class to your <code>nav</code> element, 
and add every <code>link</code> element you want to be responsive inside the <code>navbar-content</code>.</p>
<pre class="prettyprint lang-html">
<nav class="navbar">

<!-- CSS animated menu icon -->
<input class="menu-toggle" type="checkbox" id="menu-toggle" />
<label class="burger-btn" for="menu-toggle">
    <span class="burger-icon"></span>
</label>

<a class="link" href="/">Brand</a><!-- This will stay here on mobile devices -->

<div class="navbar-content"><!-- This will be responsive on mobile devices -->
    
    <div class="navbar-end"><!-- Placed at the end of the navbar -->
        <a class="link" href="/path/1">Link 1</a>
        <a class="link" href="/path/2">Link 2</a>
    </div>

</div>

<div class="navbar-end"><!-- This will stay here on mobile devices -->
    <a class="link" href="/path/3">Link 3</a>
</div>

</nav>
</pre>

<br>

<p>If you want the navbar to be fixed at the top, add the <code>fixed</code> class.</p>
<pre class="prettyprint lang-html">
<nav class="navbar fixed">
...
</nav>
</pre>
{% endblock %}