{% extends "docs.njk.html" %}

{% block content %}
<!-- STAGGERED -->
<h1 id="staggered" class="text-brand">Staggered grid view</h1>

<p>A left to right, staggered grid built with CSS and JS.</p>

<div class="staggered tablet-two">

    <div class="staggered-item">
        <div class="card">

            <div class="card-header">
                <span class="circular-img"
                    style="
            width: 30px; height: 30px;
            background-image: url(https://picsum.photos/64/64)"></span>

                <div class="card-data">
                    <p>Elizabeth</p>
                </div>
            </div>

            <p class="card-content text-size-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur libero enim, sapiente similique debitis ducimus totam magnam excepturi tempora soluta ad consequatur?</p>

            <div class="user-actions evenly">
                <i style="font-size: 1.5rem;" class="fa fa-fire-alt"></i>
                <i style="font-size: 1.5rem;" class="fa fa-heartbeat"></i>
            </div>

        </div>
    </div>

    <div class="staggered-item">
        <div class="card">

            <img src="https://picsum.photos/600/400"
                alt="Random picsum.photos image">

        </div>
    </div>

    <div class="staggered-item">
        <div class="card">

            <div class="card-header">
                <span class="circular-img"
                    style="
            width: 30px; height: 30px;
            background-image: url(https://picsum.photos/64/64)"></span>

                <div class="card-data">
                    <p>Elizabeth</p>
                </div>
            </div>

            <p class="card-content text-size-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos amet voluptatibus tempore quisquam iusto asperiores aliquam dolore, dolorem nihil enim, pariatur ut iste nesciunt eveniet perferendis.</p>

            <div class="user-actions evenly">
                <i style="font-size: 1.5rem;" class="far fa-star"></i>
                <i style="font-size: 1.5rem;" class="far fa-comment-dots"></i>
            </div>

        </div>
    </div>

    <div class="staggered-item">
        <div class="card">

            <img src="https://picsum.photos/600/400" alt="Random picsum.photos image">

        </div>
    </div>

    <div class="staggered-item">
        <div class="card">

            <img src="https://picsum.photos/500/640"
                alt="Random picsum.photos image">

        </div>
    </div>
    <div class="staggered-item">
        <div class="card">

            <img src="https://picsum.photos/500/670"
                alt="Random picsum.photos image">

        </div>
    </div>
    <div class="staggered-item">
        <div class="card">

            <img src="https://picsum.photos/500/610"
                alt="Random picsum.photos image">

        </div>
    </div>
    <div class="staggered-item">
        <div class="card">

            <img src="https://picsum.photos/500/620"
                alt="Random picsum.photos image">

        </div>
    </div>

</div>

<p>For the staggered grid to work, you'll need to import the javascript 
file <code class="text-brand">socialiteui-v0.4.6/socialiteui.min.js</code> from socialiteui framework 
to the bottom of your html document. The script makes the calculation for the negative margin-top 
for each element, making it look staggered. It also listens for resize window events and when new 
elements are added to the staggered grid using a mutation observer.</p>

<p>All you need to do is adding the <code>staggered</code> class to your element. Every item you want to place inside the
staggered grid, must be surrounded by an html element with the <code>staggered-item</code> class.</p>
<pre class="prettyprint lang-html">
<div class="staggered">

    <div class="staggered-item">
        ...
    </div>

    <div class="staggered-item">
        ...
    </div>

</div>
</pre>

<br>

<p>In desktop, the staggered grid will be 4 columns length by default. 
To overwrite this behavior, use the classes <code>two</code> or <code>three</code> 
for two or three columns.</p>
<pre class="prettyprint lang-html">
<!-- Two columns length -->
<div class="staggered two">
    ...
</div>
</pre>

<br>

<p>In mobile, the staggered grid will be 1 column length by default. 
Use the classes <code>mobile-two</code> or <code>mobile-three</code> for 2 or 3 columns. 
The tablet will respect the desktop columns, but you may use <code>tablet-two</code> or <code>tablet-three</code> 
to specify a different column length if need it.</p>
<pre class="prettyprint lang-html">
<!-- Two columns on mobile, three on tablet and four on desktop -->
<div class="staggered mobile-two tablet-three">
    ...
</div>
</pre>
{% endblock %}