{% extends "docs.njk.html" %}

{% block content %}
<div class="container">
    <h3 style="font-weight: bold;"><i class="fa fa-code"></i> Components</h3>
    <ul class="content">
        <li><a href="" class="link">Staggered view</a></li>
        <li><a href="" class="link">Card</a></li>
        <li><a href="" class="link">Comment</a></li>
        <li><a href="" class="link">Side menu</a></li>
        <li><a href="" class="link">Navbar</a></li>
    </ul>

    <br>
    
    <h4>Staggered view</h4>
</div>
{% endblock %}