{% extends "root.njk.html" %}

{% block css %}
<style>
    pre{
        font-size: 0.9rem;
    }
</style>
{% endblock %}

{% block body %}

    <aside id="documentation" class="sidebar">

        <a class="link text-salmon">
            {% if current == 'components' %}
                <i class="fa fa-code text-salmon"></i> 
            {% endif %} Components</a>

            <!-- <div class="children"><a href="" class="link">jjojojo</a></div> -->

        <a class="link">{% if current == 'elements' %}
                <i class="fa fa-code text-salmon"></i> 
            {% endif %} Elements</a>

            <!-- <div class="children"><a href="" class="link">jjojojo</a></div> -->

        {#<a href="" class="link">{% if current == 'form' %}
                <i class="fa fa-code text-salmon"></i> 
            {% endif %} Form</a>#}

        <a href="" class="link">{% if current == 'grid system' %}
                <i class="fa fa-code text-salmon"></i> 
            {% endif %} Grid system</a>

        <a href="" class="link">{% if current == 'layout' %}
                <i class="fa fa-code text-salmon"></i> 
            {% endif %} Layout</a>

        {#<a href="" class="link">{% if current == 'helpers' %}
                <i class="fa fa-code text-salmon"></i> 
            {% endif %} Helpers</a>#}

    </aside>

    <section class="sidebar-content">
        <nav class="navbar with-sidebar">

            <label class="burger-btn arrow-left" for="documentation">
                <div class="burger-icon"></div>
            </label>
        
            <a href="index.html" class="link text-size-6">SocialiteUI</a>
        
            <section class="navbar-content">
                <section class="navbar-end">
                    <a target="_blank" rel="noopener noreferrer" class="link" href="https://github.com/Isradeleon/socialiteui"><i class="fab fa-github"></i></a>
                    <a class="link text-salmon" href="https://github.com/Isradeleon/socialiteui/archive/0.4.2.zip"><i style="font-size: 1.2rem;" class="fa fa-cloud-download-alt"></i></a>
                </section>
            </section>
        
        </nav>
              
        {% block content %}
        {% endblock %}
    </section>

{% endblock %}

{% block js %}
<script src="socialiteui-v0.4.2/socialiteui.js"></script>
{% endblock %}