{% extends "root.njk.html" %}

{% block css %}
<style>
    code{
        font-size: 1.1rem;
    }
    pre.prettyprint.lang-html{
        display: block;
        width: 100%;
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block body %}

    <aside id="documentation" class="sidebar">

        <p class="text-center">
            v0.4.4
        </p>

        <hr>

        <span class="link">Components</span>

        <div class="children active">
            <a href="card.html" class="link text-size-s {% if current == 'card' %}text-brand{% endif %}">Card</a>
            <a href="comment.html" class="link text-size-s {% if current == 'comment' %}text-brand{% endif %}">Comment</a>
            <a href="sidebar.html" class="link text-size-s {% if current == 'sidebar' %}text-brand{% endif %}">Sidebar</a>
            <a href="navbar.html" class="link text-size-s {% if current == 'navbar' %}text-brand{% endif %}">Navbar</a>
            <a href="staggered.html" class="link text-size-s {% if current == 'staggered' %}text-brand{% endif %}">Staggered grid view</a>
        </div>

        <!-- <a class="link">Elements</a> -->

        <!-- <div class="children active">
            <a class="link text-size-s">Button</a>
            <a class="link text-size-s">Circle image</a>
        </div> -->

        {#<a class="link">Form</a>#}

        <a href="grid-system.html" class="link {% if current == 'grid-system' %}text-brand{% endif %}">Grid system</a>

        <!-- <div class="children active">
            <a class="link text-size-s">Basic usage</a>
            <a class="link text-size-s">Responsiveness</a>
        </div> -->

        <!-- <a class="link">Layout</a> -->

        {#<a class="link"> Helpers</a>#}

    </aside>

    <div class="sidebar-content">
        <nav class="navbar with-sidebar">

            <span class="burger-btn arrow-left" data-sidebar="documentation">
                <span class="burger-icon"></span>
            </span>
        
            <a href="index.html" class="link text-size-6 text-brand">SocialiteUI</a>
        
            <div class="navbar-content">
                <div class="navbar-end">
                    <a target="_blank" rel="noopener noreferrer" class="link" href="https://github.com/Isradeleon/socialiteui"><i class="fab fa-github"></i></a>
                    <a class="link text-brand" href="https://github.com/Isradeleon/socialiteui/archive/0.4.4.zip"><i style="font-size: 1.2rem;" class="fa fa-cloud-download-alt"></i></a>
                </div>
            </div>
        
        </nav>
              
        <div class="container below-navbar">
            <br>
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block js %}
<script src="socialiteui-v0.4.4/socialiteui.min.js"></script>
{% endblock %}