{% extends "root.njk.html" %}

{% block css %}
<style>
    code{
        font-size: 1.1rem;
    }
    pre.prettyprint.lang-html{
        display: block;
        width: 100%;
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block body %}

    <aside id="documentation" class="sidebar">

        <p class="text-center">
            v0.4.3
        </p>

        <hr>

        <a class="link text-brand">
            {% if current == 'components' %}
                <i class="fa fa-code"></i> 
            {% endif %} Components</a>

            <div class="children active">
                <a href="#card" class="link text-size-s">Card</a>
                <a href="#comment" class="link text-size-s">Comment</a>
                <a href="#sidebar" class="link text-size-s">Sidebar</a>
                <a href="#navbar" class="link text-size-s">Navbar</a>
                <a href="#staggered" class="link text-size-s">Staggered grid view</a>
            </div>

        <a class="link">{% if current == 'elements' %}
                <i class="fa fa-code text-brand"></i> 
            {% endif %} Elements</a>

            <!-- <div class="children"><a href="" class="link">jjojojo</a></div> -->

        {#<a class="link">{% if current == 'form' %}
                <i class="fa fa-code text-brand"></i> 
            {% endif %} Form</a>#}

        <a class="link">{% if current == 'grid system' %}
                <i class="fa fa-code text-brand"></i> 
            {% endif %} Grid system</a>

        <a class="link">{% if current == 'layout' %}
                <i class="fa fa-code text-brand"></i> 
            {% endif %} Layout</a>

        {#<a class="link">{% if current == 'helpers' %}
                <i class="fa fa-code text-brand"></i> 
            {% endif %} Helpers</a>#}

    </aside>

    <div class="sidebar-content">
        <nav class="navbar with-sidebar">

            <label class="burger-btn arrow-left" for="documentation">
                <span class="burger-icon"></span>
            </label>
        
            <a href="index.html" class="link text-size-6">SocialiteUI</a>
        
            <div class="navbar-content">
                <div class="navbar-end">
                    <a target="_blank" rel="noopener noreferrer" class="link" href="https://github.com/Isradeleon/socialiteui"><i class="fab fa-github"></i></a>
                    <a class="link text-brand" href="https://github.com/Isradeleon/socialiteui/archive/0.4.3.zip"><i style="font-size: 1.2rem;" class="fa fa-cloud-download-alt"></i></a>
                </div>
            </div>
        
        </nav>
              
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}

{% block js %}
<script src="socialiteui-v0.4.3/socialiteui.js"></script>
{% endblock %}