{% extends "docs.njk.html" %}

{% block css %}
{{ super() }}
<style>
    .example.grid>.col,
    .example.grid>*[class*='col-'] {
        background: #ff7675;
        color: white;
        border: 1px solid white;
    }
</style>
{% endblock %}

{% block content %}
<!-- GRID SYSTEM -->
<h1 id="card" class="text-brand">Grid system</h1>

<p>A grid system designed for being simple, legible and easy to learn.</p>

<div class="grid example">
    <div class="col-12">col-12</div>

    <div class="col-11">col-11</div>
    <div class="col-1">col-1</div>

    <div class="col-10">col-10</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-9">col-9</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-8">col-8</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-7">col-7</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-6">col-6</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-5">col-5</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-4">col-4</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-3">col-3</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>

    <div class="col-2">col-2</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
    <div class="col-1">col-1</div>
</div>

<br>

<h2>Basic usage</h2>

<p>You just need to add the <code>grid</code> class to your columns container. 
This is a <b>12 column system</b>, so you may use the <code>col-*</code> syntax for 
defining the column size for each element.</p>
<pre class="prettyprint lang-html">
<div class="grid">

    <div class="col-6">
        <!-- Your content -->
    </div>

    <div class="col-6">
        <!-- Your content -->
    </div>

</div>
</pre>

<br>

<p>If you only want same width columns, you can use the <code>col</code> class for each element.</p>
<div class="grid example">
    <div class="col">
        col
    </div>
    <div class="col">
        col
    </div>
    <div class="col">
        col
    </div>
</div>

<pre class="prettyprint lang-html">
<div class="grid">

    <div class="col">
        ...
    </div>

    <div class="col">
        ...
    </div>

    <div class="col">
        ...
    </div>

</div>
</pre>

<br>

<h2>Responsiveness</h2>

<p>For defining a diferent a different column span for mobile and tablet, just use the 
<code>mobile-*</code> and <code>tablet-*</code> syntax with the same 12 column system.</p>

<div class="example grid text-white">
    <div class="col-4 tablet-12 mobile-6">
        <p>col-4, tablet-12, mobile-6</p>
    </div>
    <div class="col-4 tablet-12 mobile-6">
        <p>col-4, tablet-12, mobile-6</p>
    </div>                
    <div class="col-4 tablet-12 mobile-12">
        <p>col-4, tablet-12, mobile-12</p>
    </div>                
</div>
<pre class="prettyprint lang-html">
<div class="grid">

    <div class="col-4 tablet-12 mobile-6">
        ...
    </div>
    
    <div class="col-4 tablet-12 mobile-6">
        ...
    </div>                
    
    <div class="col-4 tablet-12 mobile-12">
        ...
    </div>
    
</div>
</pre>

<br>

<p>If you don't set the tablet column span, it will respect the desktop columns. 
On the other hand, mobile will override them to fill the 100% width of the grid.</p>

<br>

<p>For large screen devices is the same, you just need to use the <code>large-*</code> syntax 
with the 12 column system. If you don't set these values, the columns you set with the <code>col-*</code> 
syntax will stay the same.</p>

<div class="example grid text-white">
    <div class="col-12 large-6">
        <p>col-12, large-6</p>
    </div>
    <div class="col-12 large-6">
        <p>col-12, large-6</p>
    </div>
</div>
<pre class="prettyprint lang-html">
<div class="grid">
    
    <div class="col-12 large-6">
        ...
    </div>

    <div class="col-12 large-6">
        ...
    </div>

</div>
</pre>

{% endblock %}