{% extends "root.njk.html" %}

{% block body %}
    <section class="container below-navbar">
        <br><br>

        <div class="cols">
            <div class="col-6 col-l-12">
                <h1>A lightweight, mobile-first framework for HTML, CSS and JS. SocialiteUI is open source, responsive and available for free.</h1>
                <div>
                    <a class="btn" href="./components.html"><i class="fa fa-code"></i> Documentation</a>
                    <a target="_blank" rel="noopener noreferrer" class="btn" 
                    href="https://github.com/Isradeleon/socialiteui"><i class="fab fa-github"></i> View on Github</a>
                    <a class="btn salmon" 
                    href="https://github.com/Isradeleon/socialiteui/archive/0.4.2.zip">Download current version (0.4.2)</a>
                </div>
            </div>

            <div class="col-6 col-l-12">
                <br><br>
                <article class="card">
            
                    <section class="card-header">
                        <span class="circular-img"
                        style="background-image: url(https://picsum.photos/200/200)"></span>
            
                        <span class="card-data">
                            <p>Elizabeth</p>
                            <small>5 min ago</small>
                        </span>
                    </section>
        
                    <!-- <img src="https://picsum.photos/600/650" alt=""> -->
                    
                    <p class="card-content relevant">
                        Hey! I'm a card component example! As you can see, I have a circular image, and some actions too!
                    </p>
                    
                    <section class="user-actions evenly">
                        <i class="text-size-4 far fa-heart"></i>
                        <i class="text-size-4 far fa-comment"></i>
                        <i class="text-size-4 far fa-flag"></i>
                    </section>
            
                </article>
            </div>
        </div>

        <br>

        <div class="cols">
            <div class="col-3 col-t-6 text-center">
                <a href="" class="link full-width">
                    <p class="text-size-5 text-blue">
                        <i class="fa fa-feather-alt"></i>
                        <br>Lightweight
                    </p>
                </a>
            </div>
            <div class="col-3 col-t-6 text-center">
                <a href="" class="link full-width">
                    <p class="text-size-5 text-purple">
                        <i class="fa fa-mobile"></i> 
                        <i class="fa fa-tablet"></i> 
                        <i class="fa fa-laptop-code"></i> 
                        <i class="fa fa-desktop"></i>
                        <br>Responsive
                    </p>
                </a>
            </div>
            <div class="col-3 col-t-6 text-center">
                <a href="" class="link full-width">
                    <p class="text-size-5 text-salmon">
                        <i class="fa fa-bolt"></i> <i class="far fa-lightbulb"></i>
                        <br>Easy to learn
                    </p>
                </a>
            </div>
            <div class="col-3 col-t-6 text-center">
                <a href="" class="link full-width">
                    <p class="text-size-5 text-darkgray">
                        <i class="fa fa-cloud-download-alt"></i>
                        <br>Easy to install
                    </p>
                </a>
            </div>
        </div>
    
    </section>
    
    <section class="site-section">
        <div class="container text-center">
            <h3 class="text-blue">
                <i class="fa fa-feather-alt"></i>
                <br> Lightweight (10K minified)
            </h3>
            <p>
                Unless you're gonna implement the <a href="components.html#staggered">staggered grid</a>, you may import only the css file from socialiteui, which weighs 10K minified.
            </p>
        </div>
    </section>
{% endblock %}
