{% extends "root.njk.html" %}

{% block css %}
<style>
    #npmInput{
        border: none;
        display: inline-block;
        color: #2d3436;
        background: transparent;
        pointer-events: none;
        /* font-family: monospace; */
        max-width: 300px;
        border: none;
    }
    #npmInput:disabled{
        color: #2d3436;
        opacity: 1;
        -webkit-text-fill-color: #2d3436;
        opacity: 1;
    }

    #responsive .grid>.col,
    #responsive .grid>*[class*='col-'] {
        background: #ff7675;
        color: white;
        border: 1px solid white;
    }
</style>
{% endblock %}

{% block body %}
    <nav class="navbar fixed">

        <input class="menu-toggle" type="checkbox" id="menu-toggle" />
        <label class="burger-btn" for="menu-toggle">
            <span class="burger-icon"></span>
        </label>
        
        <a class="link text-brand" href="index.html">SocialiteUI</a>
        
        <div class="navbar-content">
            
            <a class="link" href="card.html"><i class="fa fa-code"></i> Documentation</a>
            
            <div class="navbar-end">
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/Isradeleon/socialiteui" class="link"><i class="fab fa-github"></i> Github</a>
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/isradeleon" class="link"><i class="text-info fab fa-twitter"></i> Twitter</a>
            </div>

        </div>

        <div class="navbar-end">
            <a class="link text-brand" href="https://github.com/Isradeleon/socialiteui/releases/download/0.4.9/socialiteui-v0.4.9.zip"><i class="fa fa-cloud-download-alt"></i></a>
        </div>

    </nav>

    <div class="site-section white">

        <div class="container below-navbar">
    
            <div class="grid">
                <div class="col-6">
                    <h1>An alternative, lightweight framework for HTML, CSS and JS. SocialiteUI is responsive, open source and available for free.</h1>
                    <div>

                        <div>
                            <a class="btn brand inverted radius" 
                            href="https://github.com/Isradeleon/socialiteui/releases/download/0.4.9/socialiteui-v0.4.9.zip">Download current version (0.4.9)</a>
                        </div>
                        
                        <br>
                        
                        <div>
                            <code class="text-size-6"><b class="text-bold text-brand">$</b> npm install socialiteui</code>
                        </div>
                        <!-- <span id="npm" class="btn">
                            <b class="text-bold text-brand">$</b> <input type="text" disabled value="npm install socialiteui" id="npmInput">
                            <span id="copy">(Copy)</span>
                        </span> -->
                    </div>
                </div>
    
                <div class="col-6">
                    <br>
    
                    <div class="card box-shadow-2">
                
                        <div class="card-header">
                            <span class="circular-img"
                            style="background-image: url(https://picsum.photos/64/64)"></span>
                
                            <div class="card-data">
                                <p>Elizabeth</p>
                                <small>5 min ago</small>
                            </div>
                        </div>
            
                        <!-- <img src="https://picsum.photos/600/650" alt=""> -->
                        
                        <p class="card-content text-size-6">
                            Hi! This is a card component example! As you can see, it has a circular image, and some user actions too
                        </p>
                        
                        <div class="user-actions evenly">
                            <i class="text-size-4 far fa-heart"></i>
                            <i class="text-size-4 far fa-comment"></i>
                            <i class="text-size-4 far fa-flag"></i>
                        </div>
                
                    </div>

                </div>
            </div>
    
            <br>
    
            <div class="grid">
                <div class="col-3 tablet-6 text-center">
                    <a href="#lightweight" class="link full-width">
                        <p class="text-size-5 text-secondary">
                            <i class="fa fa-feather-alt"></i>
                            <br>Lightweight
                            <br><span class="text-size-s text-gray">The framework weighs 17.5K</span>
                        </p>
                    </a>
                </div>
                <div class="col-3 tablet-6 text-center">
                    <a href="#responsive" class="link full-width">
                        <p class="text-size-5 text-primary">
                            <i class="fa fa-mobile"></i> 
                            <i class="fa fa-tablet"></i> 
                            <i class="fa fa-laptop-code"></i> 
                            <i class="fa fa-desktop"></i>
                            <br>Responsive
                            <br><span class="text-size-s text-gray">Adaptable to all screens</span>
                        </p>
                    </a>
                </div>
                <div class="col-3 tablet-6 text-center">
                    <a href="#easy" class="link full-width">
                        <p class="text-size-5 text-brand">
                            <i class="fa fa-bolt"></i> <i class="far fa-lightbulb"></i>
                            <br>Easy to learn
                            <br><span class="text-size-s text-gray">Simple & clear syntax</span>
                        </p>
                    </a>
                </div>
                <div class="col-3 tablet-6 text-center">
                    <a href="#customizable" class="link full-width">
                        <p class="text-size-5">
                            <i class="fa fa-cogs"></i>
                            <br>Customizable
                            <br><span class="text-size-s text-gray">Using Sass</span>
                        </p>
                    </a>
                </div>
            </div>
        
        </div>
    </div>
    
    <div class="site-section secondary" id="lightweight">
        <div class="container text-center">
            <h2>
                <i class="fa fa-feather-alt"></i>
                <br> Lightweight (Only 17.5K)
            </h2>
            <p>
                The whole framework weighs just 17.5K.<br>It comes with multiple CSS class helpers, 
                a grid system and helpful components like navbar, cards, and more.
            </p>
        </div>
    </div>

    <div class="site-section white" id="responsive">
        <div class="container text-center below-navbar">
            <h2>
                <i class="fa fa-mobile"></i> 
                <i class="fa fa-tablet"></i> 
                <i class="fa fa-laptop-code"></i> 
                <i class="fa fa-desktop"></i>
                <br><span class="text-primary">Responsive and mobile first</span>
            </h2>

            <p>A clear and legible <a href="grid-system.html">grid system</a>, that is adaptable to all screens.</p>

            <div class="grid">
                <div class="col-12">col-12</div>
    
                <div class="col-1">col-1</div>
                <div class="col-2">col-2</div>

                <div class="col-6">col-6</div>

                <div class="col-2">col-2</div>
                <div class="col-1">col-1</div>

                <div class="col">col</div>
                <div class="col">col</div>
                <div class="col">col</div>
                
            </div>

            <br>
            <p>Need a different column size on mobile and tablet? Then just add:</p>

            <div class="grid text-white">
                <div class="col-4 tablet-12 mobile-6">
                    <p>col-4, tablet-12, mobile-6</p>
                </div>
                <div class="col-4 tablet-12 mobile-6">
                    <p>col-4, tablet-12, mobile-6</p>
                </div>                
                <div class="col-4 tablet-12 mobile-12">
                    <p>col-4, tablet-12, mobile-12</p>
                </div>                
            </div>

        </div>
    </div>

    <div class="site-section" id="easy">
        <div class="container below-navbar">
            <h2 class="text-brand">
                <i class="fa fa-bolt"></i> <i class="far fa-lightbulb"></i> Easy to learn
            </h2>
            <p>A simple and clear syntax that makes the framework really easy to learn. 
            Here are some CSS class examples:</p>

            <div class="grid">
                
                <div class="col-4">
                    <p class="text-brand">text-brand</p>
                    <p class="text-primary">text-primary</p>
                    <p class="text-secondary">text-secondary</p>
                    <p class="text-info">text-info</p>
                    <p class="text-success">text-success</p>
                    <p class="text-warning">text-warning</p>
                    <p class="text-danger">text-danger</p>
                    <p class="text-gray">text-gray</p>
                </div>
                
                <div class="col-4">
                    <button class="btn primary">btn primary</button><br>
                    <button class="btn secondary">btn secondary</button><br>
                    <button class="btn info radius">btn info radius</button><br>
                    <button class="btn success rounded">btn success rounded</button><br>
                    <button class="btn danger inverted">btn danger inverted</button><br>
                    <button disabled class="btn rounded">btn disabled</button>
                </div>

                <div class="col-4">
                    <p class="text-size-1">text-size-1</p>
                    <p class="text-size-2">text-size-2</p>
                    <p class="text-size-3">text-size-3</p>
                    <p class="text-size-4">text-size-4</p>
                    <p class="text-size-5">text-size-5</p>
                    <p class="text-size-6">text-size-6</p>
                </div>
            </div>

        </div>
    </div>

    <div class="site-section white" id="customizable">
        <div class="container below-navbar">
            <div class="grid">
                <div class="col-6">
                    <h2>
                        <i class="fa fa-cogs"></i> Customizable
                    </h2>
                    <p>You may want to change the framework colors so they'll fit better with the style 
                    of your application and your brand. This is possible with Sass.</p>
                    <p>Just define the color variables before you import the base.scss file. These new colors 
                    will also affect the helper classes.</p>
                    <p class="text-size-s text-info"><i class="fa fa-info-circle"></i> More Sass variables will be added in the future.</p>
                </div>
                <div class="col-6">
<pre class="prettyprint lang-sass">
// Set your brand color
$brand: #ff7675;

// Set the contrast color,
// or let the framework calculate it
$contrast-brand: white;

// Define the rest of the colors
$primary: #6c5ce7;
$secondary: #0984e3;
$info: #74b9ff;
$success: #1dd1a1;
$danger: #ee5253;
$warning: #f7b731;
$black: #2d3436;

// Set the font family
$font-family: Helvetica;
$font-weight: 400;

// Import SocialiteUI scss file
@import "base.scss";
</pre>
                </div>
            </div>


        </div>
    </div>

    {% include "footer.njk.html" %}
    
{% endblock %}

{% block js %}
<!-- <script>
    (function(){
        document.querySelector('#npm').addEventListener('click',()=>{

            var npmInput = document.querySelector("#npmInput");
            npmInput.select();
            document.execCommand("copy");
            document.querySelector("#copy").textContent = 'Copied!'
            setTimeout(() => {
                document.querySelector("#copy").textContent = '(Copy)'
            }, 1000);
        })
    })();
</script> -->
{% endblock %}