<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if title %}{{ title }}{% else %}SocialiteUI • HTML, CSS and JS frontend component library{% endif %}</title>
    <meta name="description" content="{% if description %}{{ description }}{% else %}An alternative, lightweight framework for HTML, CSS and JS. SocialiteUI is responsive and mobile first designed.{% endif %}">
    <link rel="stylesheet" href="socialiteui-v0.4.9/socialiteui.min.css">
    <link rel="icon" href="logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="prettifier.css">

    <link rel="canonical" href="https://coralinecss.com{% if canonical %}{{ canonical }}{% endif %}">

    <meta property="og:url" content="https://coralinecss.com{% if canonical %}{{ canonical }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="320">

    <meta property="og:title" content="{% if title %}{{ title }}{% else %}SocialiteUI • HTML, CSS and JS frontend component library{% endif %}">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}An alternative, lightweight framework for HTML, CSS and JS. SocialiteUI is responsive and mobile first designed.{% endif %}">
    <meta property="og:image" content="https://coralinecss.com/banner.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@isradeleon">
    <meta name="twitter:creator" content="@isradeleon">

    <meta name="twitter:title" content="{% if title %}{{ title }}{% else %}SocialiteUI • HTML, CSS and JS frontend component library{% endif %}">
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}An alternative, lightweight framework for HTML, CSS and JS. SocialiteUI is responsive and mobile first designed.{% endif %}">
    <meta name="twitter:image" content="https://coralinecss.com/banner.png">

    <style>
      code{
        font-size: 1.1rem;
      }
      pre.prettyprint{
        display: block;
        width: 100%;
        overflow-y: auto;
      }
    </style>

    {% block css %}
    {% endblock %}
</head>
<body>
  
  {% block body %}
	{% endblock %}

  <!-- twitter button -->
  <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
  
      t._e = [];
      t.ready = function(f) {
          t._e.push(f);
      };
  
      return t;
      }(document, "script", "twitter-wjs"));
  </script>

  <!-- github button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  
  <!-- code prettiefier -->
  <script>
    document.querySelectorAll("pre.prettyprint").forEach(function(element) {
        element.innerHTML = element.innerHTML.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
    });
  </script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

  {% block js %}
	{% endblock %}
</body>
</html>
