<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% if description %}{{ description }}{% else %}Lightweight HTML, CSS and JS framework for WEB design. SocialiteUI is 100% responsive and mobile-first designed.{% endif %}">
    <title>{% if title %}{{ title }}{% else %}SocialiteUI{% endif %} • A responsive & lightweight HTML, CSS & JS framework</title>
    <link rel="stylesheet" href="socialiteui-v0.4.2/socialiteui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/atom-one-light.min.css">
    {% block css %}
    {% endblock %}
</head>
<body>
  
  {% block body %}
	{% endblock %}

  <script>
    document.querySelectorAll("pre>code").forEach(function(element) {
        element.innerHTML = element.innerHTML.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {% block js %}
	{% endblock %}
</body>
</html>
